@import './home.css';

:root {
    margin: 0 auto;
    color: white;
}


.form-bg {
    margin: 1% auto 5%;
    background-color: #00669F;
    border-radius: 49.0901px;
    width: 60%;
    height: 80%;
    padding: 3% 3%;
    box-sizing:border-box;
        /* position: absolute; */
}

main {
    width: auto;
    
}

h3 {
    font-family: Inter;
    font-weight: 300;
    text-align: center;
    margin: 0;
    padding-top: 0%;
}

p {
    text-align: center;
    margin: 10px;
}

.fieldset {
    display: inline-grid;
    width: 45%;
    margin: 2%;
    align-items: flex-start;
    

}

.field {
    width: 100%; 
    margin: 10px;
    
}

.description {
    margin-top: 10%; 
    padding: 10px;
    border-radius: 15.3407px;
    box-sizing: border-box;
    border: 1.53407px solid rgba(0, 0, 0, 0.1);
}

input {
    border-radius: 15.3407px;
    box-sizing: border-box;
    border: 1.53407px solid rgba(0, 0, 0, 0.1);
    /* width: 100%; */
    /* margin: 0 auto; */
    padding: 10px
}

select{
    padding: 10px
}

textarea {
    padding: 10px
}

.submit {
    background-color: #1CD1B0;
    width: 50%;
    font-family: Karla;
    font-size: 20px;
    font-weight: bold;
    border: 0px;
    padding: 8px;
    margin: 5% 25% auto;
}


footer {
    background: #00669F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 50px;
    width: 100%;
    bottom: 0px;
}

.terms {
    color: white;
    text-align: center;
    font-size: 13px;
}

.checkmark {
    display: block;
    left: 0;
    width: unset;
}   
/* label{
    margin: 10px;
} */

.add {
    text-align: left;
}