* {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
}

body{
    margin:0px;
  
}

.pcVector {
    position: absolute;
    width: 80px;
    height: 60px;
    bottom: 5px;
    padding-left: 10px;
    }

.discount {
    background-color: #1CD1B0;
    box-sizing: border-box;
    height: 30px;
    width: 100%;
    padding-left: 10px;
    padding-top: 5px; 
    font-family: Roboto;

    
    z-index: 2;
}  

.navigator {
    background-color: black;
    text-align: right;
    height: 20px;
    padding: 10px 10px;
}

.navigator a{
    background-color: black;
    color:white;
    text-align: right;
    padding: 0px 10px;
    height: 10px;
    text-decoration: none;
}

header {
    background: #00669F;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
    height: 70px;
            
    position: sticky;
    top: 0px;
    z-index: 1;
    
}

h1 {
    color: #FFFFFF;
    font-size: 25px;
    height: 84px;
        
    padding: 10px 100px ;
    position: absolute;
    top: 0px;
}

section{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card {
    background-color: #f3f3f3;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    margin: 30px 30px;
    width: 300px;   
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);

    display: inline-block;
}

.card-bg-bman {
    background-image: url("../img/bg-batman.jpg");
    background-size: cover;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    height: 180px;
    
    
    position: relative;
    
}

.card-bg-wman {
    background-image: url("../img/bg-wonderw.jpg");
    background-size: cover;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    height: 180px;
    
    
    position: relative;
}

.card-bg-sman {
    background-image: url("../img/bg-superman.jpg");
    background-size: cover;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    height: 180px;
    

    position: relative;
}

.card-bg-hley {
    background-image: url('../img/bg-harley.jpg');
    background-size: cover;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    height: 180px;
    

    position: relative;
}

.card-profile {
    border-radius: 50%;
    width: 150px;
    
    
    margin-left: 5%;
}

.card-text {
    position: relative;
    text-align: center;
    padding: 0px;
}

.card-profile {
    left: 70px;
    position: absolute;
    top: -90px;
}

h3 {
    font-size: 25px;
    font-weight: 550;
    padding-top: 70px;
}

p {
    padding: 0px 20px;
    text-align: left;
    
}

a {
    background: #00669F;
    
    color: white;
    display: inline-block;
    bottom: 1px;
    

    margin-bottom: 30px;
    padding: 10px 50px;
}

.like {
    width: 25px;

    position: absolute;
    left: 10px;
    top: 10px;
}

footer {
    background: #00669F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 50px;
    width: 100%;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    
    position: relative;
}

.terms {
    color: white;
    font-size: 13px;
    text-align: center;
    
    
}